<div>
  <div class="container">
    <div class="row justify-content-center">
      <h1>フォロー一覧</h1>
    </div>
    <div>
      <% @users.each do |user| %>
      <div>
        <%= link_to user_path(user) do %>
        <p><%= user.name %></p>
        <div>
          <%= attachment_image_tag @user, :icon, size: '50x50', fallback: "no_image.jpg", class: "mb-3 mt-3 ml-3 profile-img" %>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <%= paginate @users %>
  </div>
</div>