<div class="mx-sm-2 mx-md-3 mx-lg-5 mb-3 pt-2 pb-5">
  <section>
    
    <header class="text-center">
      <h3>FOLLOWS</h3>
    </header>
    
    <% @users.each do |user| %>
      <div class="d-flex flex-column bd-highlight mb-3 text-center">
        <%= link_to user_path(user) do %>
          
          <%= attachment_image_tag user, :icon, size: '30x30', fallback: "no_image.jpg", size:'30x30', class: "border border-dark rounded-circle" %>
          
          <%= user.name %>
          
        <% end %>
      </div>
    <% end %>
    
  </section>
</div>