<div id="about">
  <div class="container">
    <%= image_tag 'logo-cutout.png', class: "img-fluid d-block mx-auto" %>
    
    <div class="row font-italic text-white text-center">
      <div class="col-lg-4 ">
        <div class="card">
            <h2 class="pt-5">
              LACROSSE
            </h2>
            
            <h5 class="p-2 text-center">
              ラクロス専用の情報共有サービスになります。"Japan Lacrosse Miccle"を使って日本ラクロス界を盛り上げましょう！
            </h5>
        </div>
      </div>
      
      <div class="col-lg-4 d-flex flex-column align-items-center justify-content-center">
        <div class="card">
            <h2 class="pt-5">
              SHARE
            </h2>
            
            <h5 class="p-2 text-center">
              他のユーザーと情報共有しましょう投稿することで共有されます。みんなでたくさん共有しましょう！
            </h5>
        </div>
      </div>
      
      <div class="col-lg-4 d-flex flex-column align-items-center justify-content-center">
        <div class="card">
            <h2 class="pt-5">
              SNS
            </h2>
            
            <h5 class="p-2 text-center">
              写真・動画共有SNSとなります。フォローやいいね、コメント機能もあります。たくさんの仲間と楽しみましょう！
            </h5>
        </div>
      </div>
    </div>
  </div>
</div>