<div class="mx-sm-2 mx-md-3 mx-lg-5 mb-3 pb-5">

  <div class="text-center">
    <%= image_tag 'logo.jpg', class: "img-fluid" %>
  </div>

  <div class="d-flex flex-wrap justify-content-center">
    <article class="m-3 col-xl-3">
      <div class="card bg-dark text-white font-italic text-center p-4">
        <div class="mb-3">
          <%= icon 'fas', 'dumbbell fa-10x' %>
        </div>
        <h3 class="card-title">LACROSSE</h3>
        <p class="card-text">ラクロス専用の情報共有サービスになります。</p>
        <p class="card-text">"Japan Lacrosse Miccle"</p>
        <p class="card-text">を使って日本ラクロス界を盛り上げましょう！</p>
      </div>
    </article>
    <article class="m-3 col-xl-3">
      <div class="card bg-dark text-white font-italic text-center p-4">
        <div class="mb-3">
          <%= icon 'fas', 'people-arrows fa-10x' %>
        </div>
        <h3 class="card-title">SHARE</h3>
        <p class="card-text">他のユーザーと情報共有しましょう。</p>
        <p class="card-text">投稿することで共有されます。</p>
        <p class="card-text">みんなでたくさん共有しましょう！</p>
      </div>
    </article>
    <article class="m-3 col-xl-3">
      <div class="card bg-dark text-white font-italic text-center p-4">
        <div class="mb-3">
          <%= icon 'fas', 'handshake fa-10x' %>
        </div>
        <h3 class="card-title">SNS</h3>
        <p class="card-text">写真・動画共有SNSとなります。</p>
        <p class="card-text">フォローやいいね、コメント機能もあります。</p>
        <p class="card-text">たくさんの仲間と楽しみましょう！</p>
      </div>
    </article>
  </div>

</div>