
<div class="text-center">
  <%= image_tag 'top.jpg', class: "img-fluid" %>
  <div class="card-img-overlay d-flex align-items-center justify-content-center font-italic">
      <h1 class="display-4">Japan Lacrosse Miccle</h1>
  </div>
</div>

