/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*******************************************全体***************************************************/


body
{
  margin: 0;
  padding: 0;
  background-image: url(IMG_0564.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}



/*******************************************header***************************************************/

header
{
  width: auto;
  height: 100px;
  margin: 0 auto;
}

.logo
{
  float: left;
  margin-top: 20px;
  margin-left: 50px
}

.logo-size
{
  width: 50px;
  height: 50px;
}

.global-nav
{
  float: right;
  margin-top: 50px;
}

.global-nav li
{
  float: left;
  margin: 0 20px;
  font-size: 20px;
  list-style: none;
}

.global-nav li a
{
  color: #ffffff;
  padding-bottom: 3px;
  text-decoration: none;
}

.global-nav li a:hover
{
  border-bottom: 2px solid #fff;
}

/*******************************************footer***************************************************/

footer
{
  text-align: center;
  color: #ffffff;
  padding: 20px 0;
}

footer small
{
  font-size: 12px;
}

/*******************************************top***************************************************/



/*******************************************article***************************************************/

#article
{
  padding: 50px 50px;
  background-color: #fff;
  box-shadow: 0 0 20px 7px rgba(0,0,0,0.2);
  
}

#article .icon
{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: -20px;
  margin-top: -30px;
  margin-bottom: 30px;
  
}

