/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




@import "bootstrap";

/** 全体 **/

body
{
  background-image: url(background.PNG);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 100% 100%;
}

/****/

/** header **/

#header
{
  width: auto;
  height: 60px;
  margin: auto;
}

#header .logo
{
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#header .icon
{
  width: 50px;
  height: 50px;
}

#header .navbar-nav
{
  float: right;
}

#header .nabar-nav li
{
  float: left;
  margin: 0 20px;
  font-size: 20px;
  list-style: none;
}

#header .navbar-nav li a
{
  color: #000;
  padding-bottom: 3px;
  text-decoration: none;
}

#header .navbar-nav li a:hover
{
  border-bottom: 2px solid #000;
}

/****/

/** footer **/

.footer
{
  width: auto;
  height: 30px;
  text-align: center;
  color: #000;
  bottom: 0;
  margin: auto;
}

/****/

/** top **/


/****/

/** users show **/

#mypage
{
  margin: 30px 100px;
  padding: 30px 30px;
  background-color: #ffffff;
}

#mypage .main
{
  margin: 0 auto;
}

#mypage .nav-link
{
  color: #000;
}

#mypage .follow
{
  color: #fff;
}

#mypage .article
{
  margin: 0 auto;
}

#mypage li
{
  list-style: none;
  margin: 0 3px;
}

#mypage .line
{
  color: #000;
}

/****/

/** users followers **/

#followers
{
  margin: 30px 100px;
  padding: 30px 30px;
  background-color: #ffffff;
}

#followers .article
{
  margin: 30px 0;
}

/****/

/** users follows **/

#follows
{
  margin: 30px 100px;
  padding: 30px 30px;
  background-color: #ffffff;
}

#follows .article
{
  margin: 30px 0;
}

/****/

/** users search **/

#usersearch
{
  margin: 30px 100px;
  padding: 30px 30px;
  background-color: #ffffff;
}

#usersearch .search
{
  margin: 30px 0;
}

#usersearch .line
{
  color: #000;
}

/****/

/** users likes **/

#likes
{
  margin: 30px 100px;
  padding: 30px 30px;
  background-color: #ffffff;
}

#likes .article
{
  margin: 30px 0;
}

#likes li
{
  list-style: none;
  margin: 0 3px;
}

#likes .line
{
  color: #000;
}

#likes .icon
{
  margin: 2px 2px;
}

/****/

/** users edit **/

#useredit
{
  margin: 30px 100px;
  padding: 30px 30px;
  background-color: #ffffff;
}

#useredit .main
{
  margin: 0 auto;
}

#useredit .article
{
  margin: 30px 0;
}

/****/

/** users unsubscribe **/

#unsubscribe
{
  margin: 30px 100px;
  padding: 30px 30px;
}

#unsubscribe li
{
  list-style: none;
  margin: 0 3px;
}

#unsubscribe .nav-link
{
  color: #000;
}

#unsubscribe .line
{
  color: #000;
}

#unsubscribe .line-red
{
  color: #f00;
}

/****/

/** articles index **/

#articleindex
{
  margin: 30px 100px;
  padding: 30px 30px;
  background-color: #ffffff;
}

#articleindex .article
{
  margin: 30px 0;
}

#articleindex li
{
  list-style: none;
  margin: 0 3px;
}

#articleindex .nav-link
{
  color: #000;
}

#articleindex .icon
{
  margin: 2px 2px;
}

#articleindex .line
{
  color: #000;
}

/****/

/** articles search **/

#articlesearch
{
  margin: 30px 100px;
  padding: 30px 30px;
  background-color: #ffffff;
}

#articlesearch .search
{
  margin: 30px 0;
}

#articlesearch .icon
{
  margin: 2px 2px;
}

#articlesearch .line
{
  color: #000;
}

/****/

/** articles new **/

#articlenew
{
  margin: 30px 100px;
  padding: 30px 30px;
  background-color: #ffffff;
}

#articlenew .main
{
  margin: 0 auto;
}

#articlenew .article
{
  margin: 30px 0;
}

/****/

/** articles show **/

#articleshow
{
  margin: 30px 100px;
  padding: 30px 30px;
  background-color: #ffffff;
}

#articleshow .nav-link
{
  color: #000;
}

#articleshow .article
{
  margin: 30px 0;
}

#articleshow .box
{
  padding: 0px 30px;
}

#articleshow .icon
{
  margin: 2px 2px;
}

#articleshow .line
{
  color: #000;
}

/****/

/** articlea edit **/

#articleedit
{
  margin: 30px 100px;
  padding: 30px 30px;
  background-color: #ffffff;
}

#articleedit .article
{
  margin: 30px 0;
}

#articleedit .box
{
  padding: 0px 30px;
}

#articleedit .icon
{
  margin: 2px 2px;
}

/****/

/** articles hashtag **/

#articlehashtag
{
  margin: 30px 100px;
  padding: 30px 30px;
  background-color: #ffffff;
}

#articlehashtag .article
{
  margin: 30px 0;
}

#articlehashtag li
{
  list-style: none;
  margin: 0 3px;
}

#articlehashtag .nav-link
{
  color: #000;
}

#articlehashtag .icon
{
  margin: 2px 2px;
}

#articlehashtag .line
{
  color: #000;
}

/****/
