<footer>

  <div class="footer footer-light bg-light fixed-bottom w-auto h-auto text-center text-dark b-0 m-auto">
    <div class="container-fluid">
      <small>
        (c)2021 Japan Lacrosse Miccle
      </small>
    </div>
  </div>

</footer>